.container {
	min-width: 100vw;
	min-height: 100vh;
	background-color: cadetblue;
	padding: 20px;
	box-sizing: border-box;
	/* background-image: url('https://cdn.pixabay.com/photo/2015/02/24/15/41/dog-647528_1280.jpg');
	opacity: 0.5; */
}
