.wrapperList {
	width: 100%;
	min-height: 600px;
	background-color: #dddddd;
	box-sizing: border-box;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 16px;
	display: flex;
	flex-direction: column;
}
.title {
	font-size: 18px;
	font-weight: bolder;
}
.content {
	flex: 1;
}
